.navbar-container {
    margin-top: calc(100vh - 53px);
    width: 100vw;
    height: 53px;
}

.navbar {
    background: #333;
    width: 100vw;
    height: 53px;
    border: 1px solid black;
    border-bottom: 3px solid #04c2c9;
}